.home-title {
    font-family: Arial, Helvetica, Sans-Serif;
    color: #fff;
    font-weight: normal;
    text-align: center;
    position: fixed;
    bottom: 0;
}
h2.home-title {
  font-size: 30px;
  margin-bottom: 10px;
}
/* .pos{
  position: fixed;
  bottom: 0;
} */
.cd-intro {
  width: 90%;
  max-width: 768px; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
 }
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-weight: 400;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: #1aa6e2;
 }
.cd-words-wrapper b.is-visible {
    position: relative; 
}

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: #cfcfcf; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline.clip b.is-visible {
  opacity: 1; }